.animatedBox {
    position: absolute;
    top: 50px;
    left: 300px;
    background-color: #201469;
    color: #fff;
    padding: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}