body {
    max-width: 760px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea, input, button {
    font-family: inherit;
}

textarea {
    resize: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    padding: .5rem;
    border: 1px solid black;
}
input {
    margin-bottom: .5rem;
}

#output-btn {
    margin-bottom: .5rem;
}